/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color:#FF8DCB; /*главный цвет темной темы, тень*/
  --decorated-zone-color: #353430 ; /* уголки, rec, */
  --button-color: #353430; /* кнопка default */
  --button-hover-color: #32312D66; /* кнопка рамка принаведении*/
  --button-active-border-color: #353430; /* цвет рамки активной кнопки*/
  --accent-title-color: #FFC2E6; /* цвет самого большого заголовка в шапке и в футере */
  --content-section-title-color: #353430; /*основные заголовке главного блока, те что без фона */
  --title-text-color: #353430;
  --title-bg-color: #FF8DCB;
  --content-text-color: #353430;
  --footer-shadow-color: #FF0070;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color:#FF8DCB; /*главный цвет темной темы, тень*/
    --decorated-zone-color: #353430 ; /* уголки, rec, */
    --button-color: #353430; /* кнопка default */
    --button-hover-color: #32312D66; /* кнопка рамка принаведении*/
    --button-active-border-color: #353430; /* цвет рамки активной кнопки*/
    --accent-title-color: #FFC2E6; /* цвет самого большого заголовка в шапке и в футере */
    --content-section-title-color: #353430; /*основные заголовке главного блока, те что без фона */
    --title-text-color: #353430;
    --title-bg-color: #FF8DCB;
    --content-text-color: #353430;
    --footer-shadow-color: #FF0070;
    --bg-color: #fff1f7; /*запасной цвет фона*/
  }
  .rec {
    display: none;
  }
}

.theme-light .rec {
  display: none;
  /* Вам также нужно будет написать ряд подобных селекторов */
}


