/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --decorated-zone-color: #FF0070; /* уголки, rec, */
  --button-color: #FF0070; /* кнопка default */
  --button-hover-color: #FF007066; /* кнопка рамка при наведении */
  --button-active-border-color: #FF0070; /* цвет рамки активной кнопки*/
  --accent-title-color: #DB00FF; /* цвет самого большого заголовка в шапке и в футере */
  --accent-color: #FF0070; /*главный цвет темной темы, тень*/
  --content-section-title-color: #FF0070; /*основные заголовке главного блока, те что без фона */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028; /*запасной цвет фона*/
  --font-family: IBM Plex Mono, sans-serif;
  --title-text-color: #000028; /*цвет текста заголовков в том числе поле description в шапке*/
  --title-bg-color: #FF0070;/*цвет фона заголовков в том числе поле description в шапке*/
  --content-text-color: #F1B2CE;
  --footer-shadow-color: #FF0070;
}